<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input placeholder="Insira o nome" [(ngModel)]="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input placeholder="Insira o email" [(ngModel)]="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mensagem</ion-label>
      <ion-textarea placeholder="Mensagem" [autoGrow]="true" [(ngModel)]="Mensagem"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="Armazenar()">Armazenar dados</ion-button>
  <ion-button expand="block" (click)="Mostrar()">Mostrar</ion-button>



    <ion-textarea [(ngModel)]="NomeEncriptado" readonly></ion-textarea>
    <ion-textarea [(ngModel)]="EmailEncriptado" readonly></ion-textarea>
    <ion-textarea [(ngModel)]="MensagemEncriptado" readonly></ion-textarea>

</ion-content>